html, body {
  height: 100%;
  color: paleturquoise;
}

.page-container {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(12, 12, 36);
}


.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 36pt;
}
.calc-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digit {
  background-color: cornflowerblue;
}

.operator {
  background-color: pink;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  font-size: 56px;
}

.buttons-container, .display-container {
  width: 660px;
}

.buttons-container {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.digit, .operator{
  font-size: 28px;
}

#equals {
  font-size: 28px;
}
#clear {
  font-size: 22px;
}