html, body {
  height: 100%
}

.page-container {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calc-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digit {
  background-color: cornflowerblue;
}

.operator {
  background-color: pink;
}

.display {
  display: flex;
  align-items: flex-end;
}

.buttons-container, .display-container {
  width: 340px;
}

.buttons-container {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}